<?xml version="1.0" encoding="utf-8"?>
<nlog
    xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    throwConfigExceptions="true">

    <targets>
        <target
            name="log_file"
            xsi:type="File"
            layout="${longdate} [${threadid}] [${uppercase:${level}}] ${callsite:className=false:methodName=false:fileName=true:includeSourcePath=true}${newline}message: ${message}${newline}exception: ${exception:format=Message,StackTrace}${newline}"
            encoding="UTF-8"
            fileName="${basedir}/logs/${date:format=yyyy-MM-dd}.log"
            archiveFileName="${basedir}/archives/archive.{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="30" />
        <target
            name="log_console"
            xsi:type="Console"
            layout="${longdate} [${threadid}] [${uppercase:${level}}] ${callsite:className=false:methodName=false:fileName=true:includeSourcePath=true}${newline}message: ${message}${newline}exception: ${exception:format=Message,StackTrace}${newline}" />
    </targets>

    <rules>
        <logger
            name="*"
            minlevel="Info"
            writeTo="log_file,log_console" />
    </rules>
</nlog>
