<?xml version="1.0" encoding="utf-8"?>
<nlog
    xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    throwConfigExceptions="true">

    <targets>
        <target
            name="log_file"
            xsi:type="File"
            encoding="UTF-8"
            fileName="${basedir}/logs/${date:format=yyyy-MM-dd}.log"
            archiveFileName="${basedir}/logs/archive.{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="30">
            <layout type="JsonLayout">
                <attribute
                    name="time"
                    layout="${longdate}" />
                <attribute
                    name="level"
                    layout="${level}" />
                <attribute
                    name="message"
                    layout="${message}" />
                <attribute
                    name="properties"
                    encode="false">
                    <layout
                        xsi:type="JsonLayout"
                        includeAllProperties="True"
                        maxRecursionLimit="8" />
                </attribute>
            </layout>
        </target>
        <target
            name="log_console"
            xsi:type="Console"
            layout="${longdate} [${threadid}] [${uppercase:${level}}] ${callsite}()${newline}${message}${newline}${exception:format=tostring}" />
    </targets>

    <rules>
        <logger
            name="*"
            minlevel="Info"
            writeTo="log_file,log_console" />
    </rules>
</nlog>
