<?xml version="1.0" encoding="utf-8"?>
<nlog
    xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    throwConfigExceptions="true">

    <targets>
        <target
            name="log_console"
            xsi:type="Console"
            layout="${longdate} [${threadid}] [${uppercase:${level}}] ${callsite:className=false:methodName=false:fileName=true:includeSourcePath=true}${newline}message: ${message}${newline}${exception:format=Message, StackTrace:separator=\n}${newline}" />
    </targets>

    <rules>
        <logger
            name="*"
            minlevel="Trace"
            writeTo="log_console" />
    </rules>
</nlog>
